.client0 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(-12deg) translateY(260px); }
.client1 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(-5deg) translateY(215px); }
.client2 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(0deg) translateY(200px); }
.client3 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(5deg) translateY(212px); }
.client4 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(10deg) translateY(248px); }

.active .client0 { opacity: 1; transition: opacity 1s linear .25s, transform 1s cubic-bezier(.02,.78,.24,.98) .25s; transform: rotate(-12deg) translateY(60px); }
.active .client1 { opacity: 1; transition: opacity 1s linear .30s, transform 1s cubic-bezier(.02,.78,.24,.98) .30s; transform: rotate(-5deg) translateY(15px); }
.active .client2 { opacity: 1; transition: opacity 1s linear .35s, transform 1s cubic-bezier(.02,.78,.24,.98) .35s; transform: rotate(0deg) translateX(40px) translateY(-25px); }
.active .client3 { opacity: 1; transition: opacity 1s linear .40s, transform 1s cubic-bezier(.02,.78,.24,.98) .40s; transform: rotate(5deg) translateX(-25px) translateY(-60px); }
.active .client4 { opacity: 1; transition: opacity 1s linear .45s, transform 1s cubic-bezier(.02,.78,.24,.98) .45s; transform: rotate(10deg) translateX(-18px) translateY(-90px); }

@media only screen and (min-width: 768px) {
  .active .client0 { transform: rotate(-12deg) translateY(60px); }
  .active .client1 { transform: rotate(-5deg) translateY(15px); }
  .active .client2 { transform: rotate(0deg) translateY(0px); }
  .active .client3 { transform: rotate(5deg) translateY(12px); }
  .active .client4 { transform: rotate(10deg) translateY(48px); }
}

.social {
  color: rgba(0, 141, 195, 0.4);
  display: block;
}

.socialMask {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s cubic-bezier(.02,.78,.24,.98);
}

.social:hover .socialMask {
  clip-path: inset(0 0 0 0);
}

.social:active {
  transform: translateY(3px);
}
