/**

@todo: ACCENT COLOR: #d7d8a7 or maybe rgb(253, 255, 150) or #fbf76b

**/

.project {
  box-shadow: 0 0 40px rgba(0,0,0,0.15);
  height: 67vh;
  overflow: hidden;
  position: relative;
  width: 50vw;
}

@media only screen and (min-width: 769px) {
  .project {
    height: 36vh;
    width: 33vw;
  }
}

.project:active {
  transform: translateY(3px);
}

/*

  @todo refactor all of this below

  $ease-out: cubic-bezier(0.06, 0.49, 0.4, 0.95);
  $ease-out-strong: cubic-bezier(0.01, 0.92, 0.12, 0.97);

*/

.project:hover {
  cursor: pointer;
}

.projectBg {
  transition: transform .333s ease-out;
}

.project:hover .projectBg {
  transform: scale(1.05);
}

@media only screen and (max-width: 768px) {
  .projectBg {
    transform: scale(1.05);
  }
}

.projectOverlay {
  background: rgba(80, 80, 80, 0.5);
  opacity: 0;
  transition: opacity .333s;
}

.project:hover .projectOverlay {
  opacity: 1;
}

.project:active .projectOverlay {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .projectOverlay {
    opacity: 1;
  }
}

.projectMetaBg {
  transform-origin: center bottom;
  transform: scaleY(0);
  transition: transform .5s cubic-bezier(0.01, 0.92, 0.12, 0.97);
}

.project:hover .projectMetaBg {
  transform: scaleY(1);
}

@media only screen and (max-width: 768px) {
  .projectMetaBg {
    transform: scaleY(1);
  }
}

.projectName {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity .15s linear, transform .25s cubic-bezier(0.06, 0.49, 0.4, 0.95);
}

.project:hover .projectName {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity .5s linear .25s, transform .5s cubic-bezier(0.06, 0.49, 0.4, 0.95) .25s;
}

@media only screen and (max-width: 768px) {
  .projectName {
    opacity: 1;
    transform: translateX(0px);
    transition: none;
  }
}

.projectClient {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity .15s linear, transform .25s cubic-bezier(0.06, 0.49, 0.4, 0.95);
}

.project:hover .projectClient {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity .5s linear .30s, transform .5s cubic-bezier(0.06, 0.49, 0.4, 0.95) .30s;
}

@media only screen and (max-width: 768px) {
  .projectClient {
    opacity: 1;
    transform: translateX(0px);
    transition: none;
  }
}

.projectDate {
  opacity: 0;
  transform: translateX(-10px);
  transition: opacity .15s linear, transform .25s cubic-bezier(0.06, 0.49, 0.4, 0.95);
}

.project:hover .projectDate {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity .5s linear .35s, transform .5s cubic-bezier(0.06, 0.49, 0.4, 0.95) .35s;
}

@media only screen and (max-width: 768px) {
  .projectDate {
    opacity: 1;
    transform: translateX(0px);
    transition: none;
  }
}

.clientMask {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s cubic-bezier(.02,.78,.24,.98);
}

.client:hover .clientMask {
  clip-path: inset(0 0 0 0);
}

.client0 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(-12deg) translateY(260px); }
.client1 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(-5deg) translateY(215px); }
.client2 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(0deg) translateY(200px); }
.client3 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(5deg) translateY(212px); }
.client4 { opacity: 0; transition: opacity .2s, transform .2s; transform: rotate(10deg) translateY(248px); }

.active .client0 { opacity: 1; transition: opacity 1s linear .25s, transform 1s cubic-bezier(.02,.78,.24,.98) .25s; transform: rotate(-12deg) translateY(60px); }
.active .client1 { opacity: 1; transition: opacity 1s linear .30s, transform 1s cubic-bezier(.02,.78,.24,.98) .30s; transform: rotate(-5deg) translateY(15px); }
.active .client2 { opacity: 1; transition: opacity 1s linear .35s, transform 1s cubic-bezier(.02,.78,.24,.98) .35s; transform: rotate(0deg) translateX(40px) translateY(-25px); }
.active .client3 { opacity: 1; transition: opacity 1s linear .40s, transform 1s cubic-bezier(.02,.78,.24,.98) .40s; transform: rotate(5deg) translateX(-25px) translateY(-60px); }
.active .client4 { opacity: 1; transition: opacity 1s linear .45s, transform 1s cubic-bezier(.02,.78,.24,.98) .45s; transform: rotate(10deg) translateX(-18px) translateY(-90px); }

@media only screen and (min-width: 768px) {
  .active .client0 { transform: rotate(-12deg) translateY(60px); }
  .active .client1 { transform: rotate(-5deg) translateY(15px); }
  .active .client2 { transform: rotate(0deg) translateY(0px); }
  .active .client3 { transform: rotate(5deg) translateY(12px); }
  .active .client4 { transform: rotate(10deg) translateY(48px); }
}

.social {
  color: rgba(0, 141, 195, 0.4);
  display: block;
}

.socialMask {
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.5s cubic-bezier(.02,.78,.24,.98);
}

.social:hover .socialMask {
  clip-path: inset(0 0 0 0);
}

.social:active {
  transform: translateY(3px);
}
