
.icon {
  height: 100px;
  width: 100px;
}

.Architecture,
.Email,
.Networking,
.UserPhone {
  text-indent: 0;
}

.icon.Github {
  height: 80px;
  margin: 10px;
  width: 80px;
}

.icon.LinkedIn {
  height: 80px;
  margin: 10px;
  width: 80px;
}

